<div class="app-left-right"></div>
<div id="app-content-root">
  <sq-app-progress-indicator></sq-app-progress-indicator>
  <sq-app-router-tabs>
    <sq-tabs-left-area>
      <div id="brand-container">
        <img id="logo" src="/assets/images/Logo.png"/>
        <div id="brand-text">
          <div id="brand-title">SqGoods</div>
          <div id="brand-subtitle">Catalog Studio</div>
        </div>
      </div>
    </sq-tabs-left-area>
    <sq-tabs-right-area>
      <div id="user-profile-container">
        <svg class="icon">
          <use xlink:href="#icon-person-cycle"></use>
        </svg>
      </div>
    </sq-tabs-right-area>
  </sq-app-router-tabs>
</div>
<div class="app-left-right"></div>
<sq-app-popups></sq-app-popups>
