<sq-tabs [selectedId]="selectedTabId" (linkClick)="onLinkClick($event)">
  <sq-tabs-left-area>
    <ng-content select="sq-tabs-left-area"></ng-content>
  </sq-tabs-left-area>
  <sq-tab-pane 
    *ngFor="let t of tabs" 
    [label]="t.label" 
    [id]="t.href" 
    [href]="t.href">
  </sq-tab-pane>
  <sq-tabs-right-area>
    <ng-content select="sq-tabs-right-area"></ng-content>
  </sq-tabs-right-area>
</sq-tabs>
<div class="rt-content" [@routeTransition]="routeAnimationState">
  <router-outlet (activate)="onRouteActivate($event)"></router-outlet>
</div>
<style>
  sq-tabs{
    display: block;
    margin-bottom: 10px;;
  }

  .rt-content {
    position: relative;
    flex: 1 1 auto;
    min-height: 0;
  }
</style>
